_mydocs/
_releases/
.git/
.github/
*.min.js
**/node_modules/
Assets/
docs/
highlight.pack.js
Modules/TinyMCE/IconPack/postinstall.js
Modules/TinyMCE/JoplinLists/
Modules/TinyMCE/langs/
node_modules/
packages/app-cli/build
packages/app-cli/build/
packages/app-cli/locales
packages/app-cli/locales-build
packages/app-cli/node_modules
packages/app-cli/tests-build
packages/app-cli/tests/enex_to_md
packages/app-cli/tests/html_to_md
packages/app-cli/tests/logs
packages/app-cli/tests/support
packages/app-cli/tests/sync
packages/app-cli/tests/tmp
packages/app-clipper/content_scripts/JSDOMParser.js
packages/app-clipper/content_scripts/Readability-readerable.js
packages/app-clipper/content_scripts/Readability.js
packages/app-clipper/dist
packages/app-clipper/icons
packages/app-clipper/popup/build
packages/app-clipper/popup/config/webpack_config_at_eject_time.js
packages/app-clipper/popup/config/webpack.config.js
packages/app-clipper/popup/node_modules
packages/app-clipper/popup/scripts/build.js
packages/app-desktop/dist
packages/app-desktop/gui/NoteEditor/NoteBody/TinyMCE/plugins/lists.js
packages/app-desktop/gui/NoteEditor/NoteBody/TinyMCE/supportedLocales.js
packages/app-desktop/locales
packages/app-desktop/node_modules
packages/app-desktop/packageInfo.js
packages/app-mobile/android
packages/app-mobile/ios
packages/app-mobile/locales
packages/app-mobile/node_modules
packages/app-mobile/pluginAssets/
packages/lib/assets/
packages/lib/rnInjectedJs/
packages/lib/vendor/
packages/lib/vendor/fountain.min.js
packages/lib/welcomeAssets.js
packages/tools/node_modules
packages/tools/PortableAppsLauncher
plugin_types/
readme/

# AUTO-GENERATED - EXCLUDED TYPESCRIPT BUILD

# AUTO-GENERATED - EXCLUDED TYPESCRIPT BUILD
